*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 16px so we convert 1rem to 10px */
/* decreasing the font size of the html element the icons have been reduced*/
html{
    font-size: 62.5%;
}

/* styling the container */
.container{
    /* the container would take 100% of the view port height */
    height: 100vh;
    display: grid;
    place-items:center;
}

/* style the gallery */
.gallery{
    /* clamp function would take 3 different arguments a minimum value, a preferred value and a maximum value*/
    width: clamp(30rem, 90%, 130rem);
    /* aspect ratio of 16/9 means that the width of the element is 16 unit for every 9 unit of height */
    aspect-ratio: 16/9;
    background-image: linear-gradient(95.2deg,#adfcea 26.8%,#c0e5f6 64%);
    display: grid;
    /* repeat function specifies that there are 6 columns in the grid and 
    1fr unit indicates that each column
     should take an equal amount of space within the container */
    grid-template-columns: repeat(6, 1fr);
}

.box{
    position: relative;
    cursor: pointer;
}

.box-1{
    /* this line of code shows which column lines 
    the element should start and end with the grid which is 
    it starts at the 1st vertical grid line and ends an the 4th */
    grid-column: 1 / 4;
    /* this shows which row line the element should start and end
    it starts at the 1st horizontal grid line and ends at 2nd horizontal grid line */
    grid-row: 1 / 2;
}

.box-2{
    grid-column: 4 /-1;
    grid-row: 1 / 2;
}

.box-3{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.box-4{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.box-5{
    grid-column: 5 / -1;
    grid-row: 2 / 3;
}

.box-6{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.box-7{
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.box-8{
    grid-column: 5 / -1;
    grid-row: 3 / 4;
}

.box i{
    /* this unit is a container query just as you have media query
     qci stands for container query inline which is 1% of the containers inline size,
     6qci is 6% of the container inline size */
 font-size: clamp(2rem, 6cqi, 6rem);
color: #888;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform .5s, color .5s;
}

.box::before{
content: "";
width: 100%;
height: 100%;
position: absolute;
/* opacity 0.8 */
background-color: rgba(255, 255, 255, 0.8);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
/* transitions effect */
transition: clip-path .5s cubic-bezier(.215, .61, .355, 1);
}

/* define the clip-path property for different values the left and right hover property*/
.box.leftEffect::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}

/* define the clip-path property for different values the left and right hover property*/
.box.rightEffect::before{
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
}

/* to style the icons */
.box.leftEffect:hover i {
    color: #fff;
    /* move the elements using transform */
    transform: translate(-80%, -50%);
}

.box.rightEffect:hover i {
    color: #fff;
    /* move the elements using transform */
    transform: translate(-20%, -50%);
}
